.d-nodes {
  font-family: "Raleway", Ubuntu, sans-serif;
  height: 100%;
  min-height: 100vh;
}

.d-nodes::after {
  content: "";
  display: block;
  pointer-events: none;
  transition: opacity 1s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #333;
  opacity: 0;
}

.d-loading::after {
  animation: d-loading-opacity 2s;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes d-loading-opacity {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.6;
  }
}

.d-block span[contenteditable]:focus {
  outline: 0;
}

.d-block {
  display: flex;
  flex: auto;
  clear: both;
  padding: 0px 0.2em 4px 1em;
  align-items: flex-start;
  border-radius: 2px;
  border-bottom: solid 1px #ccc;
  background: #fff;
  margin-top: 0.2em;
}

.d-block:first-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.d-block:last-child {
  border-bottom: 0px;
}

.d-block .d-block,
.d-block .d-inline {
  background: rgba(30, 30, 30, 0.1);
}

.d-block__inner {
  vertical-align: top;
  display: inline-block;
  padding: 0.5em 0px 0px 0px;
  margin: 0px;
  height: 100%;
  flex: auto;
}

.d-block__button {
  display: inline-block;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 0.2em;
  cursor: pointer;
  position: relative;
  left: -0.8em;
  top: 0.8em;
  margin-bottom: 1.5em;
  font-size: x-small;
  font-family: "Raleway", Ubuntu, sans-serif;
  font-weight: bold;
  color: #666666;
}

.d-inline {
  display: inline-block;
  padding: 0px 0.2em 0.2em 0.2em;
  vertical-align: top;
  margin-right: 0.3em;
}

.d-inline__inner {
  display: flex;
  flex-direction: column-reverse;
}

.d-inline__inner__content {
  display: flex;
  align-content: flex-start;
  vertical-align: baseline;
}

.d-inline__button {
  display: inline-block;
  writing-mode: horizontal-tb;
  text-orientation: mixed;
  text-align: center;
  padding: 0.2em;
  cursor: pointer;
  color: white;
  margin-top: 0.5em;
  font-size: x-small;
  font-family: "Raleway", Ubuntu, sans-serif;
  font-weight: bold;
  color: #666666;
}

.d-inline__button:focus {
  outline: solid 2px purple;
  outline-offset: 2px;
}
